doctype html
html
	head
		title ABA
		include common-styles
	body
		include navigation

		div.parallax-container
			div.parallax
				img(src="hero-image.jpg" height="800")
			div.center-align.hero-text
				h3.white-text Welcome to the ABA
				img(src="aba-logo.png", style="height:400px; padding:50px")

		div.container
			h3.center-align Teams

		div.row
			div.col.s12.m6.l3
				div.card
					div.card-image
						img(src="stags.png")
						span.card-title Team Name
					div.card-content
						p.
							askljdf;lsj kadl;fkj sa;ldkj 
							asdfsadjflkj
							lsjdlfkjs
			div.col.s12.m6.l3
				div.card
					div.card-image
						img(src="comets.png")
						span.card-title Team Name
					div.card-content
						p.
							askljdf;lsj kadl;fkj sa;ldkj 
							asdfsadjflkj
							lsjdlfkjs
			div.col.s12.m6.l3
				div.card
					div.card-image
						img(src="steers.png")
						span.card-title Team Name
					div.card-content
						p.
							askljdf;lsj kadl;fkj sa;ldkj 
							asdfsadjflkj
							lsjdlfkjs

			div.col.s12.m6.l3
				div.card
					div.card-image
						img(src="royals.png")
						span.card-title Team Name
					div.card-content
						p.
							askljdf;lsj kadl;fkj sa;ldkj 
							asdfsadjflkj
							lsjdlfkjs

		include footer
		include common-scripts
