doctype html
html
	head
		title ABA
		include common-styles
	body
		include navigation

		div.parallax-container
			div.parallax
				img(src="hero-image.jpg" height="800")
			div.center-align.hero-text
				h3.white-text Welcome to the ABA
				img(src="aba-logo.png", style="height:400px; padding:50px")

		div.container
			h3.center-align Teams

		div.row
			div.col.s12.m6.l3
				div.card
					div.card-image
						h4.black-text.center-align.team-card-title Vancouver Stags
						img(src="stags.png")
					div.card-content

			div.col.s12.m6.l3
				div.card
					div.card-image
						h4.black-text.center-align.team-card-title New York Comets
						img(src="comets.png")
					div.card-content

			div.col.s12.m6.l3
				div.card
					div.card-image
						h4.black-text.center-align.team-card-title Houston Steers
						img(src="steers.png")
					div.card-content

			div.col.s12.m6.l3
				div.card
					div.card-image
						h4.black-text.center-align.team-card-title Los Angeles Royals
						img(src="royals.png")
					div.card-content

		include footer
		include common-scripts
